@import "styles/sizes.module.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  max-height: $symbol-height * 3;

  margin: 100px 100px 0px 100px;
}
