@import "styles/colors.module.scss";
@import "styles/sizes.module.scss";

.caret {
  position: absolute;

  height: $caret-height;
  width: $caret-width;

  background-color: $purple;

  margin-top: 8px;
  border-radius: 2px;

  transition:
    left 0.1s linear,
    top 0.1s linear;
}
