@import "styles/colors.module.scss";
@import "styles/zindex.module.scss";

.container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.tooltip {
  position: absolute;

  padding: 3px 8px;
  padding-bottom: 5px;

  border-radius: 8px;

  background-color: rgba(black, 0.8);
  color: $white;

  white-space: nowrap;
  user-select: auto;

  z-index: $zindex-tooltip;
}
