@import "styles/colors.module.scss";

.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  color: $green;
  margin-bottom: 2px;
}

.personInfo {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.editIcon {
  color: #eeeeeea3;
  transition: 0.15s ease-in-out all;
  &:hover {
    color: $white;
    cursor: pointer;
  }
  margin: 0 0 6px 0;
}

.avatarIcon {
  height: 96px;
  width: 96px;

  border-radius: 50%;

  user-select: none;
}

.login {
  font-size: 26px;
  color: $white;
}

.email,
.login,
.edit {
  margin: 0px 0px 6px 0px;
}

.date {
  color: #eeeeeea3;
  font-size: 12px;
  margin-top: 8px;
}

.editBtn {
  background-color: inherit;
}

.email {
  font-size: 20px;
  margin-bottom: 20px;
  color: #eeeeeea3;
}
