@import "styles/colors.module.scss";

.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.personInfo {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.avatarIcon {
  height: 120px;
  width: 120px;

  color: $green;

  border-radius: 50%;

  user-select: none;
}

.login {
  font-size: 26px;
  color: $white;
}

.email {
  font-size: 20px;
  color: $whiteGrey;
}

.button {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  overflow: hidden;
}
