.card {
  height: 60px;
  width: 300px;
  margin: 3px 3px;
  font-size: 32px;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.tooltip {
  font-size: 20px;
}
