@import "styles/colors.module.scss";

.container {
  display: flex;
  align-items: left;
  // justify-content: center;
  flex-direction: column;
  width: 60%;

  & > header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
  }
}

.title {
  & > h1 {
    font-size: 40px;
    font-weight: 600;
  }
}

.person {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.personInfo {
  margin-left: 16px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.icon {
  color: $green;
}

.login {
  font-size: 26px;
  color: $white;
}

.email,
.login,
.edit {
  margin: 4px 0px;
}

.email {
  font-size: 20px;
  color: #eeeeeea3;
}

.editIcon {
  color: #eeeeeea3;
  transition: 0.15s ease-in-out all;
  &:hover {
    color: $white;
    cursor: pointer;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 4px;

  & > h2,
  & > span {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
    width: 300px;

    background-color: rgba($black3, 0.7);
    color: $white;
  }

  & > h2 {
    font-size: 30px;
    font-weight: 600;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 4px;
  }

  & > span {
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.dangerZone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba($black3, 0.7);
  height: 250px;
  width: 60%;
  padding: 20px;

  margin-left: auto;
  margin-right: auto;

  border: 2px solid $red;
  border-radius: 20px;

  & > span {
    position: absolute;
    top: 10px;

    color: $white;
    font-size: 26px;
  }

  //   &:hover {
  //     cursor: pointer;
  //     background-color: $red;
  //   }
}

.dangerField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px;

  & > span {
    font-weight: 700;
    font-size: 20px;
    color: $white;
  }

  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba($black3, 0.7);
    height: 40px;
    width: 100px;
    margin: 0px 10px;

    border: 2px solid $red;
    border-radius: 6px;

    transition: 0.15s all ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $red;
    }

    & > span {
      color: $white;
    }
  }
}

.dangerInfo {
  //   font-weight: 800;
  position: absolute;
  bottom: 20px;
  margin-top: 20px;
  color: white;
}
