@import "styles/colors.module.scss";
.wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: white;
    width: 100vw;
    height: 100%;
    color:black;
}

.navigation {

}
.navigation li {
    margin-bottom: 10px;
}
.pages{
    background-color: $purple ;
    width: 100%;
    display: flex;
    padding: 20px;
    
}


.themeWrapper {
    p{
        padding-bottom: 10px;
        color:white;
    }
    // background-color: red;
    padding-bottom: 80px;
}

.showWrapper{
    // padding: 30px;
}