@import "styles/colors.module.scss";

.container,
.header,
.footer,
.submitBtn,
.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;

  position: relative;

  height: 500px;
  width: 400px;
  background-color: $black2;
  border-radius: 20px;
  border: solid 2px $black;
  padding: 10px;
  backdrop-filter: blur(40px);
}

.header {
  position: absolute;

  font-weight: 500;
  top: 0px;
  left: 0;
  color: $white;
  width: calc(100% - 4px);
  height: 120px;
  font-size: 40px;
}

.switchLink {
  color: $green;

  transition: all 0.15s ease-in-out;

  &:hover {
    color: $greenHover;
  }
}

.footer {
  position: absolute;
  bottom: 20px;

  width: calc(80% - 4px);
  height: 120px;

  flex-direction: column;

  color: $white;
}

.submitBtn {
  background-color: $green;
  color: $black2;

  border-radius: 10px;
  font-size: 32px;

  width: 160px;
  height: 50px;
  margin-bottom: 22px;

  transition: all ease-in-out 0.15s;
  &:hover {
    background-color: $greenHover;
    cursor: pointer;
  }

  &:active {
    padding-top: 1px;
    width: 130px;
    height: 40.625px;
    font-size: 26px;
  }
}

.btnWrapper {
  width: 160px;
  height: 50px;
  margin-bottom: 22px;
}
