@import "styles/colors.module.scss";

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 400px;

  background-color: $black2;

  border-radius: 20px;
  padding: 30px 10px;

  border: solid 2px $black;
}
