@import "styles/colors.module.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($black2, 0.7);

  border-radius: 10px;

  padding: 4px;
  margin: 10px;
}
