@import "styles/colors.module.scss";

$headerHeight: 100px;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page {
  position: absolute;
  bottom: 0px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: $black;

  width: 100%;
  height: calc(100vh - $headerHeight);

  overflow: hidden;
}
