@import "styles/colors.module.scss";

.container {
  display: flex;

  background-color: $black3;

  border-radius: 20px;
  padding: 10px 16px;
  margin-top: 20px;
}

.separator {
  width: 0px;
  height: 100%;

  border: 1px solid $whiteGrey;

  margin: 0px 8px;
}

.button {
  margin: 0px 8px;

  .text {
    transition: all 0.15s ease;
    font-size: 20px;
    color: $white;
  }

  &:hover {
    .text {
      color: $purple;
    }
  }
}

.activeText {
  font-size: 20px;
  color: $purple;
}
