@import "styles/colors.module.scss";

.title {
  font-weight: 500;
  font-size: 40px;

  color: $white;

  margin-bottom: 40px;
}

.text {
  color: $white;
}

.submitBtn {
  background-color: $green;
  color: $black2;

  border-radius: 10px;

  font-size: 32px;

  width: 160px;
  height: 50px;

  margin-bottom: 30px;

  transition: all ease-in-out 0.15s;

  &:hover {
    background-color: $greenHover;
    color: $black3;
    cursor: pointer;
  }

  &:active {
    background-color: $black2;
    color: $green;
  }
}

.switchLink {
  color: $green;

  transition: all 0.15s ease-in-out;

  &:hover {
    color: $greenHover;
  }
}
