@import "./colors.module.scss";

@import url("https://fonts.cdnfonts.com/css/oxygen-mono");
@import url("https://fonts.cdnfonts.com/css/source-code-pro");
@import url("https://fonts.cdnfonts.com/css/ubuntu-mono");
@import url("https://fonts.cdnfonts.com/css/roboto-mono");

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $black3;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 20px;
}

a {
  color: $white;
}
