@import "styles/colors.module.scss";

.upload {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $black;
  font-size: 35px;

  margin-bottom: 40px;

  height: 350px;
  width: 350px;

  user-select: none;
  cursor: pointer;
}

.isEmpty {
  border: 4px dashed $black;
  border-radius: 50%;
}

.file {
  display: none;
}

.closeButton {
  color: $whiteGrey;

  position: absolute;
  top: 15px;
  right: 15px;

  transition: 0.15s linear color;
  &:hover {
    color: $red;
  }
}

.avatarImg {
  height: 350px;
  width: 350px;

  border-radius: 50%;

  user-select: none;
  cursor: pointer;
}

.avatarBtn {
  background-color: $green;

  .text {
    color: $black2;
    font-size: 30px;
  }

  border-radius: 10px;

  width: 140px;
  height: 50px;

  transition: all ease-in-out 0.15s;

  &:hover {
    background-color: $greenHover;
    .text {
      color: $black3;
    }
    cursor: pointer;
  }

  &:active {
    background-color: $black2;
    .text {
      color: $green;
    }
  }
}
